
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/obj/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.AssemblyInfo.cs
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/obj/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.AssemblyInfoInputs.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/obj/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.assets.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/obj/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.csproj.AssemblyReference.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/obj/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.GeneratedMSBuildEditorConfig.editorconfig
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.AssemblyInfo.cs
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.AssemblyInfoInputs.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.assets.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.csproj.AssemblyReference.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.GeneratedMSBuildEditorConfig.editorconfig
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Middleware/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Middleware/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Middleware.AssemblyInfo.cs
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Middleware/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Middleware.AssemblyInfoInputs.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Middleware/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Middleware.assets.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Middleware/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Middleware.csproj.AssemblyReference.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Middleware/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Middleware.GeneratedMSBuildEditorConfig.editorconfig
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Services.AssemblyInfo.cs
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Services.AssemblyInfoInputs.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Services.assets.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Services.csproj.AssemblyReference.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Services.GeneratedMSBuildEditorConfig.editorconfig
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Utilities/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Utilities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Utilities.AssemblyInfo.cs
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Utilities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Utilities.AssemblyInfoInputs.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Utilities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Utilities.assets.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Utilities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Utilities.csproj.AssemblyReference.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Utilities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Utilities.GeneratedMSBuildEditorConfig.editorconfig
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/obj/Debug/netcoreapp3.1/staticwebassets/TeamSavvy.Api.Web.StaticWebAssets.xml
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Web.AssemblyInfo.cs
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Web.AssemblyInfoInputs.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Web.assets.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Web.csproj.AssemblyReference.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Web.GeneratedMSBuildEditorConfig.editorconfig
